{% assign lifeskills = site.data.data.sidebar.lifeskills %}
{% if lifeskills %}
<div class="lifeskills-container container-block">

  <h2 class="container-block-title">
    Skills
  </h2>

  <ul class="list-unstyled lifeskills-list">
    {% for lifeskill in lifeskills %}

      {% if lifeskill.link %}
      <li><a href="{{ lifeskill.link }}">{{ lifeskill.item }}</a></li>
      {% else %}
      <li>{{ lifeskill.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//lifeskill-->
<hr>
{% endif %}
