{% assign potentials = site.data.data.sidebar.potentials %}
{% if potentials %}
<div class="potentials-container container-block">

  <h2 class="container-block-title">
    Hobbies 
  </h2>

  <ul class="list-unstyled potentials-list">
    {% for potential in potentials %}

      {% if potential.link %}
      <li><a href="{{ potential.link }}">{{ potential.item }}</a></li>
      {% else %}
      <li>{{ potential.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//potentials-->
{% endif %}
